img {
  width: 100%;
  position: absolute;
}

div {
  position: relative;
  margin-top: 10px;
  width: 700px;
  padding: 5px 5px;
  background-color: white;
  float: right;
  text-align: right;
}